{% extends 'properties/base.html' %}

{% block title %}Faq{% endblock %}

{% block content %}

    <!-- preload -->
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
            <span class="icon icon-villa-fill"></span>
        </div>
    </div>
    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">
            
                <!-- Mobile Menu  -->
                <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>    
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>                            
                    <nav class="menu-box">
                        <div class="nav-logo"><a href="index.html"><img src="images/logo/logo%402x.png" alt="nav-logo" width="174" height="44"></a></div>
                        <div class="bottom-canvas">
                            <div class="login-box flex align-center">
                                <a href="#modalLogin" data-bs-toggle="modal">Login</a>
                                <span>/</span>
                                <a href="#modalRegister" data-bs-toggle="modal">Register</a>
                            </div>
                            <div class="menu-outer"></div>
                            <div class="button-mobi-sell">
                                <a class="tf-btn primary" href="add-property.html">Submit Property</a>
                            </div> 
                            <div class="mobi-icon-box">
                                <div class="box d-flex align-items-center">
                                    <span class="icon icon-phone2"></span>
                                    <div>1-333-345-6868</div>
                                </div>
                                <div class="box d-flex align-items-center">
                                    <span class="icon icon-mail"></span>
                                    <div>themesflat@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </nav>                
                </div>
                <!-- End Mobile Menu -->
            </header>
            <!-- End Main Header -->

            <!-- Page Title -->
            <section class="flat-title-page" style="background-image: url(images/page-title/page-title-3.jpg);">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li><a href="index.html" class="text-white">Home</a></li>
                            <li class="text-white">/ Pages</li>
                            <li class="text-white">/ FAQs</li>
                        </ul>
                        <h1 class="text-center text-white title">Frequently Asked Questions</h1>
                    </div>
                </div>
            </section>
            <!-- End Page Title -->

          
            <section class="flat-section">
                <div class="container">
                    <div class="tf-faq">
                        <h3 class="fw-8 text-center title">Overview</h3>
                        <ul class="box-faq" id="wrapper-faq">
                            <li class="faq-item">
                                <a href="#accordion-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-one">
                                    Why should I use your services?
                                </a>
                                <div id="accordion-faq-one" class="collapse" data-bs-parent="#wrapper-faq">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item active">
                                <a href="#accordion-faq-two" class="faq-header" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-two">
                                    How do I get started with your services?
                                </a>
                                <div id="accordion-faq-two" class="collapse show" data-bs-parent="#wrapper-faq">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-three">
                                    How secure are your services?
                                </a>
                                <div id="accordion-faq-three" class="collapse" data-bs-parent="#wrapper-faq">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-four">
                                    Is there customer support available?
                                </a>
                                <div id="accordion-faq-four" class="collapse" data-bs-parent="#wrapper-faq">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-faq-five">
                                    How can I update my account information?
                                </a>
                                <div id="accordion-faq-five" class="collapse" data-bs-parent="#wrapper-faq">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="tf-faq">
                        <h3 class="fw-8 text-center title">Costs and Payments</h3>
                        <ul class="box-faq" id="wrapper-faq-two">
                            <li class="faq-item">
                                <a href="#accordion2-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-one">
                                    How do you calculate fees?
                                </a>
                                <div id="accordion2-faq-one" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                                
                            </li>
                            <li class="faq-item">
                                <a href="#accordion2-faq-two" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-two">
                                    How do I pay Message?
                                </a>
                                <div id="accordion2-faq-two" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion2-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-three">
                                    Are there opportunities for discounts or promotions?
                                </a>
                                <div id="accordion2-faq-three" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion2-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-four">
                                    Are there any hidden fees not displayed in the pricing table?
                                </a>
                                <div id="accordion2-faq-four" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion2-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-five">
                                    What is the refund procedure?
                                </a>
                                <div id="accordion2-faq-five" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion2-faq-six" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion2-faq-six">
                                    Is there financial or accounting support?
                                </a>
                                <div id="accordion2-faq-six" class="collapse" data-bs-parent="#wrapper-faq-two">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                        </ul>
                       
                    </div>
                    <div class="tf-faq">
                        <h3 class="fw-8 text-center title">Safety and Security</h3>
                        <ul class="box-faq" id="wrapper-faq-three">
                            <li class="faq-item">
                                <a href="#accordion3-faq-one" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-one">
                                    What languages does your service support?
                                </a>
                                <div id="accordion3-faq-one" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                                
                            </li>
                            <li class="faq-item">
                                <a href="#accordion3-faq-two" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-two">
                                    How do I integrate your service into my system?
                                </a>
                                <div id="accordion3-faq-two" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion3-faq-three" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-three">
                                    What are the safety features of your system?
                                </a>
                                <div id="accordion3-faq-three" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion3-faq-four" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-four">
                                    How can I request new features?
                                </a>
                                <div id="accordion3-faq-four" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion3-faq-five" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-five">
                                    Is my data protected?
                                </a>
                                <div id="accordion3-faq-five" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <a href="#accordion3-faq-six" class="faq-header collapsed" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion3-faq-six">
                                    How do I report a technical issue?
                                </a>
                                <div id="accordion3-faq-six" class="collapse" data-bs-parent="#wrapper-faq-three">
                                    <p class="faq-body">
                                        Once your account is set up and you've familiarized yourself with the platform, you are ready to start using our services. Whether it's accessing specific features, making transactions, or utilizing our tools, you'll find everything you need at your fingertips.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
            </section>
         
        </div>
    </div>

{% endblock %}